#------------------------------------------------------------------

# ex : RS_PLUGIN=true
# ex : OS_VERSION=1.2.3
# ex : DASHBOARD_VERSION=1.2.0
# ex : HYPERAUTH_URL=hyperauth.tmaxcloud.org
# ex : DASHBOARD_CLIENT_SECRET=22a985f7-c12d-4812-bd4e-bd598e1df7e8
# ex : CUSTOM_DOMAIN_NAME=tmaxcloud.org
# ex : FLUENTD_VERSION=v1.4.2-debian-elasticsearch-1.1
# ex : BUSYBOX_VERSION=1.32.0
# ex : STORAGECLASS_NAME=csi-cephfs-sc

# ex : REGISTRY=192.168.6.171:5000

#------------------------------------------------------------------

RS_PLUGIN=true
OS_VERSION={OS_VERSION}
DASHBOARD_VERSION={DASHBOARD_VERSION}
HYPERAUTH_URL={HYPERAUTH_URL}
DASHBOARD_CLIENT_SECRET={DASHBOARD_CLIENT_SECRET}
CUSTOM_DOMAIN_NAME={CUSTOM_DOMAIN_NAME}
FLUENTD_VERSION={FLUENTD_VERSION}
BUSYBOX_VERSION={BUSYBOX_VERSION}
STORAGECLASS_NAME={STORAGECLASS_NAME}

REGISTRY={REGISTRY}
